Source: picosnitch
Section: net
Priority: optional
Maintainer: Eric Lesiuta <elesiuta@gmail.com>
Build-Depends: debhelper-compat (= 13),
               python3-all (>= 3.12),
               pybuild-plugin-pyproject,
               python3-hatchling,
               clang,
               llvm,
               libbpf-dev
Standards-Version: 4.6.2
Homepage: https://elesiuta.github.io/picosnitch/

Package: picosnitch
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.12), ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, libbpf1
Recommends: libnotify-bin
Suggests: python3-psycopg, python3-pymysql
Description: picosnitch
 Monitor network traffic per executable using BPF

