[Unit]
Description=picosnitch

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/picosnitch start-no-daemon
PIDFile=/run/picosnitch.pid

[Install]
WantedBy=multi-user.target
