pkgbase = picosnitch
	pkgdesc = Protect your privacy, see which processes make remote network connections
	pkgver = 0.7.1
	pkgrel = 1
	url = https://elesiuta.github.io/picosnitch/
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = python-bcc
	depends = dbus-python
	depends = python-psutil
	depends = python-requests
	source = picosnitch-0.7.1.tar.gz::https://github.com/elesiuta/picosnitch/releases/download/v0.7.1/picosnitch.tar.gz
	sha256sums = b9677ed2adb4a38375b3c78b7fc36bf99740a0a64f82f3c6728ba604e89e11f5

pkgname = picosnitch
