pkgbase = picosnitch
	pkgdesc = Protect your privacy, see which processes make remote network connections
	pkgver = 0.7.0
	pkgrel = 1
	epoch = 1
	url = https://elesiuta.github.io/picosnitch/
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = python
	depends = python-bcc
	depends = dbus-python
	depends = python-psutil
	depends = python-requests
	provides = picosnitch
	conflicts = picosnitch
	source = picosnitch::https://github.com/elesiuta/picosnitch/archive/refs/tags/v0.7.0.tar.gz
	sha256sums = 2fa62aec9c911c57882bbe5fc709c44cbdc3210a6619a3d1cf520eb8c811380b

pkgname = picosnitch
